extends layout

block index
	.container-fluid
		#logo
			a.drawer(href='#')
				img(src='img/logo.png')
			.alarmTime
		#xypad
			//img(src='img/bg.png')
			#lens
				img(src='img/cursor.png')
		#drawer.well
			.clearfix
				a.btn.pull-right.drawer x
			img.stretch(src='img/smartlight.png')
			form.form
				h3 Connect owl to wireless network
				select.dropdown.ssid(type='dropdown',placeholder='Your ssid')
					option Proto ssid
				input.text.pass(type='password',placeholder='wireless password')
				a.btn.submit Connect
	

	.navbar.navbar-fixed-bottom
		.navbar-inner
			.container.drawer
				a.btn.btn-inverse.pull-right 
					img.settingsBtn(src="/img/setting.png")
				.energy
				ul.navbar.presets
					