extends layout
block body
	.container
		h1 The Owl
		p Thank you for buying an owl!

		form.form
			select.dropdown.ssid(type='dropdown',placeholder='Your ssid')
				option Proto ssid
			input.text.pass(type='text',placeholder='wireless password')
			a.btn.submit Save and restart Owl