.nav.navbar.navbar-fixed-top
	.navbar-inner
		.container
			.alarmTime
			
			ul.navbar
				li.dropdown
					a.brand.dropdown-toggle(href="#", data-toggle="dropdown") Owl
					ul.dropdown-menu
						li 
							a.drawer Set Alarm
							a.drawer All Options
						li.divider
						li
							a(href="/signout") Sign out