.nav.navbar.navbar-fixed-top
	.navbar-inner
		.container
			a.alarmTime
			ul.navbar
				li.dropdown
					a.brand.dropdown-toggle(href="#", data-toggle="dropdown") Owl
					ul.dropdown-menu
						li 
							a.drawer Settings
						li.divider
						li
							a(href="/signout") Sign out