body {
	
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#lens {
	position: relative;
	z-index: 998;
	top: 0; left: 0;
	width: 1px;
	height: 1px;
	color: white;
	text-align: center;
}

#logo {
	z-index: 99999;
	position: absolute;
	left: 0; top: 0;
	background: transparent;
	width: 10%;
}

.alarmTime {
	float: right;
	clear: none;
	width: 20%;
	margin: 0; padding: 0;
	margin-right: 40px;
	font-size: 2em;
}

.energy {
	height: 40px;
}

#drawer {
	display: none;
	position: absolute;
	top: 100px; left: 0;	
	width: 50%;
	padding-top: 60px;
	margin-left: 25%; margin-right: 25%;
	z-index: 9999;
}

#drawer ul {
	margin-bottom: 0; padding: 0;
}

#xypad {

	top: 0px; left: 0;
	margin: 0; padding: 0;
	width: 100%; min-height: 600px;
	background-size: 100%;
	margin: 0;
	z-index: 0;
	overflow: hidden;


	
	background: -webkit-gradient(linear, left top, right top, from(#2F2727), 
		color-stop(0.05, white), color-stop(0.5, #2F2727), color-stop(0.95, #1a82f7), to(#2F2727));
	background: -webkit-linear-gradient(left, #2F2727, transparent 5%, #2F2727, yellow 95%, #2F2727);
	background: -moz-linear-gradient(left, #2F2727, #1a82f7 5%, #2F2727, #1a82f7 95%, #2F2727);
	background: -ms-linear-gradient(left, #2F2727, #1a82f7 5%, #2F2727, #1a82f7 95%, #2F2727);
	background: -o-linear-gradient(left, #2F2727, #1a82f7 5%, #2F2727, #wh 95%, #2F2727);

}


@media (max-width: 500px) {
	#drawer {
		width: 100%;
		margin: 5%;
	}

	#logo {
		width: 20%;
	}

	#xypad {
		width: 100%;
		height: 100%;
		margin: 0;
	}
}


@media (max-width: 979px) {
    .navbar .dropdown-menu.no-collapse {
        background-color: #ffffff;
        border-color: rgba(0, 0, 0, 0.2);
        border-radius: 4px;
        border-style: solid;
        border-width: 1px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        display: none;
        float: left;
        margin: 0;
        padding: 4px 0;
        position: absolute;
        top: 100%;
    }
 
}
